<div class="px-7 py-8 main-container">
  <div class="flex flex-column align-items-center gap-5">
    <div class="flex flex-column gap-1 align-items-center">
      <section class="flex flex-row gap-2">
        <p-button
          icon="pi pi-github"
          severity="help"
          #actionButton
          (click)="openLink('https://github.com/fcport')"
        />
        <p-button
          icon="pi pi-linkedin"
          severity="info"
          #actionButton
          (click)="
            openLink('https://www.linkedin.com/in/federico-casadei-8b572b1b8/')
          "
        />
        <p-button
          icon="pi pi-external-link"
          severity="warning"
          #actionButton
          (click)="openLink('https://federicocasadei.dev/')"
        />
      </section>

      <h1 class="main-title">I'm a hands gestures navigable website!</h1>
    </div>

    <div class="hands-recognition">
      <span class="text-red-400 underline"
        >Make sure we can see your hands!</span
      >
      <br />
      I can see:
      <span class="text-4xl text-red-400 underline">{{ handsNumber }}</span>
      hand{{ handsNumber > 1 ? "s" : "" }}!
    </div>

    <div class="card-container">
      <div class="flex flex-column gap-2 card card-1">
        <h3>What's this?</h3>
        <div>
          This is a website you can navigate just with a webcam and your
          gestures!
        </div>
        <div>
          I decided to test this out while watching
          <a href="https://charliegerard.dev/">Charlie Gerard</a>'s workshop on
          <a href="https://frontendmasters.com/">Frontend Masters</a> about AIs.
        </div>
        <div>
          That workshop was so inspiring that I wanted to create something on my
          own!
        </div>
      </div>
      <div class="flex flex-column gap-2 card card-2">
        <h3>How does it work?</h3>
        <div>
          Using Tensorflow.js and a webcam it's possible to recognise hands and
          define their keypoints or landmarks <br />
          (see more
          <a href="https://blog.tensorflow.org/2021/11/3D-handpose.html"
            >here</a
          >
          ).
        </div>
        <h4 class="my-3">What do you need:</h4>
        <ul>
          <li>A webcam</li>
          <li>To give your browser camera permissions</li>
          <li>
            Patience (this is just a side study-project not a production ready
            app)
          </li>
        </ul>
      </div>
      <div class="flex flex-column gap-4 card card-3 w-full md:gap-2">
        <h3>What are the gestures?</h3>
        <div
          class="flex flex-column md:flex-row align-items-center justify-content-evenly w-full"
        >
          <span class="gesture"> Scroll up: </span>

          <app-tutorial-icon [command]="'scroll-up'" />

          <span
            >Hold your <strong>LEFT</strong> hand like the image and move your
            fingers down</span
          >
        </div>
        <div
          class="flex flex-column md:flex-row align-items-center justify-content-evenly w-full"
        >
          <span class="gesture">Scroll down: </span
          ><app-tutorial-icon [command]="'scroll-down'" />
          <span
            >Hold your <strong>RIGHT</strong> hand like the image and move your
            fingers down</span
          >
        </div>
        <div
          class="flex flex-column md:flex-row align-items-center justify-content-evenly w-full"
        >
          <span class="gesture">Cursor: </span
          ><app-tutorial-icon [command]="'index-cursor'" />
          <span
            >Hold your hand like the image and move your index around <br />
            (If the cursor stops, move slower!)</span
          >
        </div>

        <div
          class="flex flex-column md:flex-row align-items-center justify-content-evenly w-full"
        >
          <span class="gesture">Click: </span
          ><app-tutorial-icon [command]="'click-gesture'" />
          <span
            >While you are moving the cursor with your index, simply show your
            palm!</span
          >
        </div>

        <div class="flex flex-column md:flex-row align-items-center underline">
          Please remember that the best spot in which the commands from your
          hands will be recognized is around the center of camera
        </div>
      </div>
    </div>
    <p-messages severity="warn">
      <ng-template pTemplate>
        <div class="flex flex-row flex-wrap gap-1 align-items-center">
          <span> If you don't manage to make it work, look at this </span>
          <button
            pButton
            (click)="
              openLink(
                'https://www.linkedin.com/in/federico-casadei-8b572b1b8/'
              )
            "
            severity="warning"
            #actionButton
            label="Video"
            icon="pi pi-external-link"
          ></button>
        </div>
      </ng-template>
    </p-messages>

    <div class="flex flex-wrap align-items-center justify-content-evenly gap-1">
      @for( post of cards; track $index; let i = $index ){
      <p-card
        header="{{ post.title }}"
        class="my-2 w-full md:w-12 lg:w-5 xl:w-3 post"
      >
        <p class="m-0 white-space-preline">
          {{ post.content }}
        </p>

        <ng-template pTemplate="footer">
          <div class="flex flex-row gap-3 mt-1">
            <button
              pButton
              (click)="likeButtonClick()"
              severity="success"
              #actionButton
              icon="pi pi-thumbs-up"
              class="my-2 w-full p-fluid"
              label="Like"
            ></button>
            <button
              pButton
              (click)="dislikeButtonClick()"
              severity="warning"
              icon="pi pi-thumbs-down"
              #actionButton
              class="my-2 w-full p-fluid"
              label="Dislike"
            ></button>
          </div>
        </ng-template>
      </p-card>
      }
    </div>
  </div>

  <div class="w-4 h-4 fixed top-0 right-0 bg-blue-400 border-round-sm p-2">
    {{ actionRequired === "scroll-down" ? "Ready to scroll down" : "" }}
    {{ actionRequired === "scroll-up" ? "Ready to scroll up" : "" }}
    {{
      actionRequired === "index-cursor"
        ? "Move your index to move the cursor!"
        : ""
    }}
  </div>

  <div
    #cursor
    class="w-1rem h-1rem fixed cursor"
    [ngStyle]="{
      top: topFromIndex() + 'px',
      right: rightFromIndex() + 'px'
    }"
    id="cursor"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="30"
      height="30"
      viewBox="0 0 48 48"
    >
      <path
        fill="#35c1f1"
        d="M14,7.054v30.663c0,0.91,1.062,1.407,1.761,0.824l7.078-5.903l4.664,10.728	c0.232,0.533,0.851,0.777,1.384,0.545l1.865-0.811L14.634,6.091C14.276,6.246,14,6.593,14,7.054z"
      ></path>
      <linearGradient
        id="rZhYTz_WbDq4~sF07d3Vpa_wXT0qzqdjY0S_gr1"
        x1="21.384"
        x2="35.554"
        y1="6.317"
        y2="39.054"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" stop-color="#46dff9"></stop>
        <stop offset="1" stop-color="#07d6f9"></stop>
      </linearGradient>
      <path
        fill="url(#rZhYTz_WbDq4~sF07d3Vpa_wXT0qzqdjY0S_gr1)"
        d="M33.089,40.938l-4.628-10.647l8.1-0.726c0.907-0.081,1.307-1.184,0.663-1.828L15.796,6.31	c-0.336-0.336-0.793-0.379-1.162-0.219l16.118,37.011l1.792-0.779C33.077,42.091,33.321,41.471,33.089,40.938z"
      ></path>
      <path
        fill="#199be2"
        d="M33.089,40.938l-4.628-10.647l8.1-0.726c0.907-0.081,1.307-1.184,0.663-1.828L15.796,6.31	c-0.336-0.336-0.793-0.379-1.162-0.219l16.118,37.011l1.792-0.779C33.077,42.091,33.321,41.471,33.089,40.938z"
      ></path>
    </svg>
  </div>
</div>
<video
  #video
  id="video"
  class="w-4 h-4 lg:w-3 lg:h-3 xl:w-2 xl:h-2 fixed bottom-0 right-0"
></video>
<div class="absolute top-0 left-0 my-1 mx-2">
  <img src="camera.png" alt="camera reminder" />
</div>

<p-toast />
