<div class="flex flex-column align-items-center gap-5">
  <div>
    <h3>I'm a hand detector!</h3>
    <small class="text-xs">Click on load to start recognizing hands</small>
  </div>

  <div>I can see: {{ handsNumber }} hands!</div>
  <p-button label="Load" (onClick)="start()"></p-button>
  <p-button
    severity="secondary"
    label="Capture current hands"
    (onClick)="captureCurrentHands()"
  ></p-button>

  <video #video id="video" class="w-4 h-4 fixed bottom-0 right-0"></video>
  @for( post of repeat; track $index ){
  <p-card header="Simple Card" class="my-2">
    <p class="m-0">
      {{ post }}
    </p>

    <button pButton severity="primary" label="Open" #actionButton></button>
  </p-card>
  }
</div>

<div class="w-4 h-4 fixed top-0 right-0 background-white">
  {{ actionRequired === "scroll-down" ? "Ready to scroll" : "" }}
  {{ actionRequired === "index-cursor" }} - {{ proportionFactorX }} -
  {{ proportionFactorY }}
</div>

<div
  #cursor
  class="w-1rem h-1rem fixed border-circle bg-pink-200 border-1 border-black text-sx"
  [ngStyle]="{
    top: topFromIndex() + 'px',
    right: rightFromIndex() + 'px'
  }"
></div>
