<div class="flex flex-column align-items-center gap-5">
  <div>
    <h3>I'm a hand detector!</h3>
    <small class="text-xs">Click on load to start recognizing hands</small>
  </div>

  <div>I can see: {{ handsNumber }} hands!</div>
  <p-button label="Load" (onClick)="start()"></p-button>
  <p-button
    severity="secondary"
    label="Capture current hands"
    (onClick)="captureCurrentHands()"
  ></p-button>

  <div>
    <!--     
    @if(isMiddleFinger){
    <span class="text-xl">🖕🏻</span>
    } @if(isThumbsUp){
    <span class="text-xl">👍🏻</span>
    } -->
  </div>
  <video #video id="video" class="w-4 h-4 fixed bottom-0 right-0"></video>
  @for( post of repeat; track $index ){
  <p-card header="Simple Card" class="my-2">
    <p class="m-0">
      {{ post }}
    </p>
    <p-button severity="primary" label="Open"></p-button>
  </p-card>
  }
</div>

<div class="w-4 h-4 fixed top-0 right-0">
  {{ readyToScroll ? "Ready to scroll" : "" }}
  {{ indexCursor ? "Ready cursor" : "" }} - {{ proportionFactorX }} -
  {{ proportionFactorY }}
</div>

<div
  #cursor
  class="w-1rem h-1rem fixed border-circle bg-pink-200 border-1 border-black text-sx"
  [ngStyle]="{
    top: topFromIndex() + 'px',
    right: rightFromIndex() + 'px'
  }"
></div>
